body
{
  font-family: sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(hatter.jpg);
  background-position-x: center;
  background-position-y: center;
}

#content
{
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 930px;
}

p
{
  text-indent: 25px;
  text-align: justify;
}

.frame
{
  width: 380px;
  float: right;
  padding: 0px 5px 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
}

.frame img
{
  width: 390px;
  position: relative;
  left: -5px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

h1, h2
{
  font-variant: small-caps;
  font-style: italic;
}

p.imgtitle
{
  font-size: 1.1em;
  margin: 0;
  font-style: italic;
  text-align: center;
  line-height: 130%;
}

table
{
  border-style: double;
  border-color: black;
  border-width: 2px;
}

table,td,th
{
  margin-right: 20px;
  background-color: rgba(227, 225, 233, 0.3);
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
  padding: 15px;
}

img
{
  display: block;
  float: right;
  height: 280px;
  width: 260px;
  padding: 2px;
  right: 10px;
  position: relative  ;
}

#bt
{
  font-family: 'Courier New', Courier, monospace;
}



figcaption
{
  border-top: 2px solid black;
}

.numbers
{
  text-align: center;
}

.titlee
{
  background-color: rgba(39, 33, 33, 0.5);
  color: white;
}

#trap
{
  text-decoration: none;
}

a:hover
{
  color: yellow;
}

a
{
  color: black;
  text-decoration: none;
}